# Standard elements to remove
__pycache__
.pytest_cache
frontend/
.DS_Store
env/

# Elements associated with publishing as a package
pyrorl/pyrorl.egg-info/
pyrorl/.pypirc
pyrorl/dist/
pyrorl/build/

# Created when training a policy
sample_baseline.zip

# Documentation
docs/site/

# Code coverage reports
.coverage

# Creating a GIF for the visualization
grid_screenshots/
