site_name: PyroRL
site_url: https://sisl.github.io/PyroRL/
nav:
  - Home: index.md
  - Quickstart: quickstart.md
  - How It Works: how-it-works.md
  - Contribution Guide: contribution-guide.md
  - Reference: reference.md
theme: readthedocs
markdown_extensions:
  - pymdownx.arithmatex:
      generic: true
extra_javascript:
  - javascripts/mathjax.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js
